.footer {
  background-color: #242725;
  height: 36vh;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 100%;
}

.logo img {
  margin-top: 14% !important;
  margin-left: 21% !important;
  width: 51%;
  height: 39%;
}

.send_us {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.send_text {
  height: 40%;
}

.send_text h4 {
  font-size: 18px !important;
  font-family: Arial;
  font-weight: bold;
  color: white;
  margin-top: 10%;
}

.form_send {
  height: 30%;
}

.send_input {
  background-image: url(../../images/bouton_2.png);
  background-color: white;
  background-size: 100% 100%;
  width: 80%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial;
  border: none;
  cursor: pointer;
}

::placeholder {
  color: #bcbaba;
  font-size: 16px;
  padding-left: 10%;
}

input[type="submit"] {
  font-size: 16px;
  margin-left: -64px;
  height: 39px;
  width: 62px;
  background-color: #242725;
  color: #bcbaba;
  border: 0;
  -webkit-appearance: none;
  border-radius: 0px 6px 6px 0px;
}

.copy_right {
  height: 30%;
}
.copy_right p {
  font-size: 11px;
  color: #bcbaba;
}

.follow_us {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.follow_us .title {
  height: 40%;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.follow_us h4 {
  font-size: 18px !important;
  margin-top: 14%;
}

.social_media {
  height: 60%;
}

.icon img {
  width: 13%;
  margin-left: 4%;
}

/* Small devices (tablet, 600px and up) */
@media screen and (min-width: 600px) and (max-width: 1199px) {
  .footer {
    display: block;
    position: relative;
  }

  .logo {
    width: auto;
    position: absolute;
    left: 6%;
    bottom: 6%;
  }
  .logo img {
    margin-top: 0 !important;
    margin-left: 0 !important;
    width: auto;
    height: auto;
  }
  .send_us {
    height: 100%;
    display: block;
    position: relative;
  }
  .send_text {
    width: 100%;
    position: absolute;
  }

  .send_text h4 {
    width: 80%;
    text-align: center;
    font-size: 100% !important;
    margin-left: 10%;
    margin-top: 7%;
  }
  .form_send {
    width: 100%;
    position: absolute;
    top: 40%;
  }
  .send_input {
    width: 40%;
  }

  .copy_right {
    height: auto;
    position: absolute;
    right: 6%;
    bottom: 11%;
  }

  .follow_us {
    display: none;
  }
}

/* Extra small devices (mobile, 599 and down) */
@media screen and (max-width: 599px) {
  .footer {
    display: block;
    position: relative;
  }

  .logo {
    width: auto;
    position: absolute;
    left: 10%;
    bottom: 8%;
  }
  .logo img {
    margin-top: 0 !important;
    margin-left: 0 !important;
    width: 49%;
    /* height: auto; */
  }
  .send_us {
    height: 100%;
    display: block;
    position: relative;
  }
  .send_text {
    width: 100%;
    position: absolute;
  }

  .send_text h4 {
    width: 80%;
    text-align: center;
    font-size: 90% !important;
    margin-left: 10%;
  }

  .form_send {
    width: 100%;
    position: absolute;
    top: 40%;
  }
  ::placeholder {
    color: #bcbaba;
    font-size: 12px;
    padding-left: 3%;
  }

  input[type="submit"] {
    font-size: 14px;
    margin-left: -55px;
    height: 40px;
    width: 53px;
  }

  .send_input {
    width: 65%;
  }

  .copy_right {
    height: auto;
    position: absolute;
    right: 18%;
    bottom: 9%;
  }

  .follow_us {
    display: none;
  }
}
