body {
  /* background: black; */
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background:#e3e3e3; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#c9c7c7; 
}